<h1 class="my-5 text-info"><strong>Tweet 後台</strong></h1>
<h4>
  <a href="/admin/tweets" class="text-secondary">Tweets</a> |
  <a href="/admin/users" class="text-dark">Users</a>
</h4>
<br/>
<br/>

<table class="table table-hover" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')">
        User <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')">
        Tweet <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')">
        Follower <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')">
        Following <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(5)')">
        Like <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col" onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(6)')">
        Role <i class="fa fa-sort" style="font-size:13px;"></i></th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr class="item">
      <td>{{ this.name }}</td>
      <td>{{ this.Tweets.length }} tweets</td>
      <td>{{ this.Followers.length }} followings</td>
      <td>{{ this.Followings.length }} followers</td>
      <td>{{ this.likeCount }} likes</td>

      {{#if this.isAdmin }}
        <td> admin </td>
      {{else}}
        <td> user </td>
      {{/if}}

      {{#if this.showLink }}
        {{#if this.isAdmin}}
          <td>
            <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link">set as user</button>
            </form>
          </td>
        {{else}}
          <td>
            <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link">set as admin</button>
            </form>
          </td>
        {{/if}}
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
