<div class="row">
	<div class="col-md-4 display-flex justify-content-center">
		{{#if profile.avatar}}
			<img class="my-5" src="{{profile.avatar}}" alt="{{profile.name}}" width="200px" height="200px">
		{{else}}
			<img class="my-5" src="https://lighthouse-cdn.alphacamp.co/default/medium_user_photo.jpg" width="200px"
				height="200px" />
		{{/if}}
		<h2>{{profile.name}}</h2>

		<div class="mb-4">
			<a href="/users/{{profile.id}}/tweets">Tweets {{profile.Tweets.length}}</a><br />
			<a href="/users/{{profile.id}}/followings">Following {{profile.Followings.length}}</a><br />
			<a href="/users/{{profile.id}}/followers">Follower {{profile.Followers.length}}</a><br />
			<a href="/users/{profile.id}}/likes">Like {{profile.LikedTweets.length}}</a><br />
		</div>

		{{#ifCond profile.id user.id}}
			<a href="/users/{{profile.id}}/edit"><button class="btn btn-primary">Edit Profile</button></a>
			{{else}}
				{{#if isFollowed }}
					<form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
						<button type="submit" class="btn btn-danger">unfollow</button>
					</form>
				{{else}}
					<form action="/followships" method="POST" style="display: contents;">
						<input type="hidden" name="userId" value="{{profile.id}}">
						<button type="submit" class="btn btn-primary">follow</button>
					</form>
				{{/if}}
		{{/ifCond}}
	</div>

	<div class="col-md-8">
		<h1>Followers</h1>
		{{#if profile.Followers}}
			<div class="row">
				{{#each profile.Followers}}
					<div class="card col-md-5" width="100px"
              height="100px">
						<div class="row">
							<div class="col-md-4">
								<img src="{{this.avatar}}" alt="{{this.name}}" style="width: 100%">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5><a href="/users/{{this.id}}/tweets">{{this.name}}</a></h5>
									<p>{{this.introduction}}</p>

									{{#ifCond this.id ../user.id}}
										<a href="/users/{{../user.id}}/edit"><button class="btn btn-primary">Edit Profile</button></a>
                  {{else}}
                  {{#if this.isFollowed}}
                    <form class="text-right" action="/followships/{{this.id}}/?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger" name="id" value={{this.id}}>Unfollow</button>
                    </form>
                  {{else}}
                    <form class="text-right" action="/followships" method="POST">
                      <button type="submit" class="btn btn-primary" name="id" value={{this.id}}>Follow</button>
                    </form>
                  {{/if}}
                  {{/ifCond}}

                  </div>
							</div>
						</div>
					</div>
				{{/each}}
		{{else}}
			<h3>沒有資料</h3>
		{{/if}}
	</div>
</div>
