<div class="container col-7">
  <div class="div text-center">
    <h1>Hashtag</h1>
    <div class="card mb-3 mt-5 justify-content-center">
      <div class="row">
        <div class="col-md-4 my-4">
          <img src="https://lighthouse-cdn.alphacamp.co/default/medium_user_photo.jpg" alt="photo" width="170px" height="170px" class="rounded ml-2">
        </div>
        <div class="col-md-8 pt-2">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/users/:id/tweets" style="text-decoration:none;">@name</a>
              <small class="pl-2">&nbsp;2020.3.20 11:00 pm</small></h5>
            <p class="card-text pl-1" style="overflow:hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              white-space: normal;">
              Voluptates sunt vitae eligendi ad laudantium earum aut neque 
            </p>
          </div>
          <div class="card-body text-right inline-block mt-1">
            <a href="/tweets/{{this.id}}/replies" class="btn btn-outline-info
              mr-2">
              Reply(1)</a>
            {{!-- {{#if this.isLiked }} --}}
              <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  (2)
                </button>
              </form>
            {{!-- {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
                <input type="hidden" name="userId" value="{{this.id}}" />
                <button type="submit" class="btn btn-secondary">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  ({{ this.likeCount }})
                </button>
              </form>
            {{/if}} --}}
          </div>
        </div>
      </div>
    </div>
</div>
</div>
