<div class="row">
	<div class="col-md-4 display-flex justify-content-center">
		{{#if profile.avatar}}
			<img class="my-5" src="{{profile.avatar}}" alt="{{profile.name}}" width="200px" height="200px">
		{{else}}
			<img class="my-5" src="https://lighthouse-cdn.alphacamp.co/default/medium_user_photo.jpg" width="200px"
				height="200px" />
		{{/if}}
		<h2>{{profile.name}}</h2>

		<div class="mb-4">
			<a href="/users/{{profile.id}}/tweets">Tweets {{profile.Tweets.length}}</a><br />
			<a href="/users/{{profile.id}}/followings">Following {{profile.Followings.length}}</a><br />
			<a href="/users/{{profile.id}}/followers">Follower {{profile.Followers.length}}</a><br />
			<a href="/users/{profile.id}}/likes">Like {{profile.LikedTweets.length}}</a><br />
		</div>

		{{#ifCond profile.id user.id}}
			<a href="/users/{{profile.id}}/edit"><button class="btn btn-primary">Edit Profile</button></a>
			{{else}}
				{{#if isFollowed }}
					<form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
						<button type="submit" class="btn btn-danger">unfollow</button>
					</form>
				{{else}}
					<form action="/followships" method="POST" style="display: contents;">
						<input type="hidden" name="userId" value="{{profile.id}}">
						<button type="submit" class="btn btn-primary">follow</button>
					</form>
				{{/if}}
		{{/ifCond}}
	</div>

	<div class="col-md-8">
    <h1>Like</h1>
		{{#if profile.LikedTweets}}
			{{#each profile.LikedTweets}}
				<div class="row">
					<div class="col-md-4 mt-4">
						<img src="{{this.avatar}}" alt="{{this.name}}">
					</div>
					<div class="col-md-8 ">
						<p><a href="/users/{{this.id}}/tweets">@{{this.name}}</a> {{moment this.createdAt}}</p>
						<p>{{this.description}}</p>
					</div>
					<a href="/tweets/{{this.id}}/replies" class="btn btn-link">Reply({{this.Replies.length}})</a>
				 {{#if this.isLiked }}
            <form action="/tweets/{{ this.id }}/unlike" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger">
                unlike ({{ this.likeCount }})</button>
            </form>
          {{else}}
            <form action="/tweets/{{ this.id }}/like" method="POST" style="display: contents;">
              <input type="hidden" name="userId" value="{{this.id}}">
              <button type="submit" class="btn btn-primary">
                like ({{ this.likeCount }})
                </button>
            </form>
          {{/if}}

				</div>
			{{/each}}
		{{else}}
			<h3>尚未建立資料</h3>
		{{/if}}
	</div>
</div>

